body {
   font-family: Arial, sans-serif;
   background: url(bg3.JPG);
   background-size: cover;
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
	text-align: center;
   margin: 0;
   padding: 0;
}

body, html {   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
	 font-weight: bold;
	 color: black;
	 //text-shadow: 1px 1px 15px rgba(0, 0, 0, 1);
}
body {
    display:table-cell;
    vertical-align:middle;
}
form {
   display:table;/* shrinks to fit content */
   margin:auto;
	//border: 1px solid #781351;
}


fieldset{
   width: 20%;
   margin: 0 auto;
   background: rgba(255,255,255,0.5);
   padding: 35px;
   border: 2px solid #fff;
   //border-radius: 20px/50px;
   background-clip: padding-box;
   text-align: center;
	//transition: all 0.3s ease-out;
	//transition: background 1s ease 0.5s;
	transition: background 0.3s ease 0.5s, transform 0.2s ease-in-out 0.5s;
}

fieldset:hover {
   background: rgba(255,255,255,0.7);
	box-shadow: inset 0 0 0 5px #000;
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc;
}

legend {
	display: block;
	//border: 1px solid #781351;
	//padding: 2px 2px;
	align: left;
	//text-align:right;
	background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 17px);
   background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 17px);
	background: linear-gradient(bottom, #CCCCCC, #EEEEEE 17px);
   margin: auto;
   position: relative;
   //width: 550px;
   //height: 450px;
   //font-family: Tahoma, Geneva, sans-serif;
   //font-size: 14px;
   //font-style: italic;
   //line-height: 24px;
   //font-weight: bold;
   //color: #09C;
   //text-decoration: none;
   border-radius: 10px;
   padding: 10px;
   border: 1px solid #999;
   border: inset 1px solid #333;
   -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}




table {
    border-collapse: collapse;
    width: 100%;
	 //text-align: center;
}

th, td {
    text-align: center;
    padding: 8px;
}


tr {background-color: #fff}

tr:hover {background-color: #f2f2f2}

th {
    background-color: #09C;
    color: white;
}



textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    border-radius: 14px;
    
    width: 250px;
    display: block;
    border: 1px solid #999;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea.pe {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    border-radius: 14px;
    
    width: 450px;
    display: block;
    border: 1px solid #999;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

/*************************************************************/

input[type="radio"], input[type="checkbox"] {
	width: 100%;
	background-color: #ddd;
   border-radius: 10px;
   display: inline-block;
   height: 15px;
   margin-right: 15px;
   position: relative;
	width: 15px;
   //-webkit-appearance: none;
}
input[type="radio"]:after {
    background-color: #fff;
	 border: 2px solid #000;
    border-radius: 10px;
    content: ' ';
    display: block;
    height: 15px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 15px;
}
input[type="radio"].poor:checked:after {
    background-color: #cc0000;
	 border: 2px solid #cc0000;
	 -webkit-box-shadow: 0 0 9px 4px #cc0000 ;
	 box-shadow: 0 0 9px 4px #cc0000 ;
	 
 }

input[type="radio"].need:checked:after {
    background-color: #999966;
	 border: 2px solid #999966;
	 -webkit-box-shadow: 0 0 9px 4px #999966 ;
	 box-shadow: 0 0 9px 4px #999966 ;	 
 }

 input[type="radio"].sat:checked:after {
    background-color: #cc9900;
 	 border: 2px solid #cc9900;
	 -webkit-box-shadow: 0 0 9px 4px #cc9900 ;
	 box-shadow: 0 0 9px 4px #cc9900 ;
}

  input[type="radio"].good:checked:after {
    background-color: #c0c0c0;
  	 border: 2px solid #c0c0c0;
  	 -webkit-box-shadow: 0 0 9px 4px #c0c0c0 ;
  	 box-shadow: 0 0 9px 4px #c0c0c0 ;
 }

	input[type="radio"].out:checked:after {
	 background-color: #ffd700;
	 border: 2px solid #ffd700;
	 -webkit-box-shadow: 0 0 9px 4px #ffd700 ;
	 box-shadow: 0 0 9px 4px #ffd700 ;
}

	input[type="radio"].rev:checked:after {
	 background-color: #009900;
	 border: 2px solid #009900;
	 -webkit-box-shadow: 0 0 9px 4px #009900 ;
	 box-shadow: 0 0 9px 4px #009900 ;
}

/*************************************************************/

input[type=submit] {
  //font-size: 0.5em;
  background: rgba(255,255,255,0.5);
  //padding: 10px;
  color: black;
  border: 2px solid orange;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
input[type=submit]:hover {
  background: orange;
}

input[type=submit].del {
  background: red;
  color: #fff;
  border-radius: 15px;
  border: 1p solid #999;
}

input[type=submit].del:hover {
  background: #fff;
  color: red;
  border: 3px solid red;
}

input[type=submit].del:focus {
   background: #fff;
   color: red;
	border: 3px solid red;
}




input[type=text],input[type=password],input[type=email] {
  //width: 100px;
  //position: absolute;
  //right: 20px;
  //bottom: 20px;
  //background: #09C;
  //color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  //height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
}


input, select {
  text-align: center;
  font-size: 90%;
  width: 250px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input:focus {
	background-color: #e6f9ff;
	border: 3px solid #09C;
	color: blue;
	//font-weight: bold;
}

//////////////////////////////

td.form{
    border:1px solid #000;
}

tr.form td.form:last-child{
    width:1%;
    white-space:nowrap;
}


.info, .success, .warning, .error, .validation {
	border: 1px solid;
	margin: 5px 5px;
	padding:5px 5px 5px 5px;
	text-align: center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
}
.warning {
color: #D8000C;
background-color: #FFBABA;
}
.error {
color: #9F6000;
background-color: #FEEFB3;
}
.validation {
color: #D63301;
background-color: #FFCCBA;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);  
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 20% auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  
}
.popup .close:hover {
  color: red;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}